*,*:before,*:after {
    box-sizing: border-box;
}

body{
    text-align: center;
    font: 300 13px/150% Arial, Helvetica, sans-serif;
}

main{
    height: 90vh;
    font-size: 1rem;
    margin: 0 auto;
}

main header{
    height: 18vh;
    padding: 0.8em;
    font-size: 3em;
    font-weight: 800;
}

#calc-container{
    display: grid;
    width: 50vh;
    height: 60vh;
    padding: 0.6em;
    margin: 0 auto;
    border: 0.2em solid black;
    border-radius: 3%;
    background-color: #2f2f2f;
    box-shadow: 5px 4px 17px 0px rgba(50, 50, 50, 0.64);
}

#display-container{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 0.6em;
    border-radius: 0.4rem; 
    background-color: white;
}
#medium{
    flex: 1;
    font-size: 2em;
    height: 50%;
}
#small{
    font-size: 1.5em;
    height: 40%;
}
#medium,#small{
    padding: 0.1em;
    line-height: 0.9em;
    background-color: white;
    /* border: 2px solid chocolate;  */
}

#button-container{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2px;
}
button{
    outline: none;
    font-size: 1.2em;
    font-weight: 800;
    border-radius: 0.4rem;
    background-color: white;
}
button:active{
    font-size: 1.4em;
    box-shadow:inset 0 0 10px rgb(0,0,0,0.8);    
    /* margin: 2px; */
} 

#bksp img{
    width: 40%;
    height: auto;
}

#footer{
    height: 10vh;
    padding:1.6em 0;
    font-size: 1.2em;
    color: white;
    background-color: #2f2f2f;
}